.edit-comands {
  margin: 112px 15px;

  .button {
    max-width: 350px;
  }

  a {
    margin: 0 15px;
  }

  .main-content-form_select {
    max-width: 350px;

    .label-name {
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    input {
      width: 100%;
    }

  }
}
