<div class="left-column">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="logo">
                    <a href="../index.html"><img src="img/logo-test.svg" class="img-fluid" alt=""></a>
                </div>
                <ul>
                    <li><a href="../index.html"><img src="img/icons/home.svg" alt=""> Главная</a></li>
                    <li><a href="../lists.html"><img src="img/icons/lists.svg" alt=""> <span class="li-text">Списки</span></a></li>
                    <li><a href="../commands.html"><img src="img/icons/lists.svg" alt=""> <span class="li-text">Команды</span></a></li>
                    <li><a href="../reports.html"><img src="img/icons/report.svg" alt=""> Отчеты о доставке</a></li>
                </ul>
            </div>
            <button type="submit" class="button">
                Выход
            </button>
        </div>
    </div>
</div>