$left-column: #2f2a34;
$font-color: #ffffff;
$link: #ffffff;
$border: #d7d7d7;
$button-bg: #ed1c24;
$button: #ffffff;
$font-form: #363539;
$option-name: #8e8e8e;
$option-name-bg:#f1f1f1;
$btn-hover: #9e0000;
$btn-active: #900207;