@import "../index/color";
@import "../index/mixin";
.left-column {
  background-color: $left-column;
  display: flex;
  position: fixed;
  height: 100%;
  color: $font-color;
  .logo {
    margin: 24px 20px;
  }
  ul {
    max-width: 250px;
    margin: 75px auto;
    li {
      padding: 15px 0;
      list-style: none;
      .li-text {
        padding: 0 7px;
      }
      a {
        text-decoration: none;
        transition: 0.2s;
        font-size: 18px;
        color: $link;
        @extend %link-hover;
      }
    }
  }
  .button {
    @include button;
    @extend %button-left, %hover;
  }
}
