@import "mixin";

.main-content {
  .button-comands {
    @extend %button-comands;
  }

  .comands {
    margin: 112px 40px;
    .label-name {
      @include font-label-name;
    }
    tr {
      border-bottom: 1px solid #ddd;
    }
  }

  .test {
    display: flex;
  }
}
